.App {
  /* width: 400px; */
  margin: 0 auto;
  transition: all 0.5s ease;
}
.Synchronous h3 {
  text-align: center;
  color: red;
}
.Synchronous .Card {
  outline: 3px solid red;
}
.Concurrent h3 {
  text-align: center;
  color: green;
}
.Concurrent .Card {
  outline: 3px solid green;
}

input[type='number'] {
  position: relative;
  margin: 0 0 1rem;
  border: 1px solid #bbb;
  border-color: #bbb #ececec #ececec #bbb;
  padding: 0.2rem;
  width: 30px;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  background: #fff
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=)
    no-repeat center center;
  width: 1em;
  border-left: 1px solid #bbb;
  opacity: 0.5; /* shows Spin Buttons per default (Chrome >= 39) */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
input[type='number']::-webkit-inner-spin-button:hover,
input[type='number']::-webkit-inner-spin-button:active {
  box-shadow: 0 0 2px #0cf;
  opacity: 0.8;
}

.BiPanel {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  height: 100vh;
}
.Fallback {
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
